

    
<div class="back">
    <div class="competenceCards">

            <mat-card class="mycard">
                <mat-card-title>Langages BackEnd</mat-card-title>
                <mat-card-content> 
                    <div class="clearfix ">
                        <ng-container *ngFor="let back of backs"  >
                            <app-competence-element [graphColor]="blue" [competence]= "back"  ></app-competence-element>
                        </ng-container>
                    </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="mycard">
                <mat-card-title>Langages FronEnd </mat-card-title>
                <mat-card-content>
                        <div class="clearfix">
                                <ng-container *ngFor="let front of fronts"  >
                                    <app-competence-element [graphColor]= "green" [competence]= "front"  ></app-competence-element>
                                </ng-container>     
                            </div>
                </mat-card-content>
            </mat-card>

            <mat-card class="mycard">
                    <mat-card-title>Frameworks </mat-card-title>
                    <mat-card-content>
                            <div class="clearfix">
                                    <ng-container *ngFor="let frame of frames"  >
                                        <app-competence-element [graphColor]="orange" [competence]= "frame"  ></app-competence-element>
                                    </ng-container>
                            </div>
                    </mat-card-content>
            </mat-card>
    </div>
</div>

    





