
	<meta charset="UTF-8">

	<link href='https://fonts.googleapis.com/css?family=Droid+Serif|Open+Sans:400,700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="../../assets/css/reset.css"> <!-- CSS reset -->
	<link rel="stylesheet" href="../../assets/css/style.css"> <!-- Resource style -->
	<link rel="stylesheet" href="../../assets/css/demo.css"> <!-- Demo style -->
	<link rel="stylesheet" href="../../assets/css/demo.css"> <!-- Demo style -->
	<link rel="stylesheet" href="../../assets/css/font-awesome.min.css"> <!-- Demo style -->
	
<body class="no-js">
	<section class="cd-timeline js-cd-timeline" style="margin: 1%;margin-top: 65px;">
		<div class="cd-timeline__container">
			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
						<i class="fa fa-briefcase faiconcase" aria-hidden="true"></i>
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Développement Java/J2EE chez ACA </h2>
					<p>Arthaud Courthéoux et Associés, Paris </p>
					<p>	Après un an de contrat de professionalisation, je suis aujourd'hui en CDI.</p>
						
					<p>Participation au développement d’un interpréteur comptable
						Utilisation des méthodes agiles 
						Rédaction des tests (Junit, PowerMock)
					</p>

					<p>
						Les technologies utilisées : 
						Java, Spring, Angular, Hibernate, MongoDB, PostgreSQL, Oracle...
					</p>
					<span class="cd-timeline__date">Nov. 2017 - Aujourd'hui</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
						<i class="fa fa-graduation-cap faicon" aria-hidden="true"></i>
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Msc2 (bac +5) Ecole d’Informatique</h2>
					<p>Supinfo, Paris</p>
					<p>J'ai obtenu mon diplôme ! </p>
					<p>Mon mémoire de fin d'étude : Pertinence du passage au Big Data pour une entreprise</p>
					<span class="cd-timeline__date">Oct. 2017</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--picture js-cd-img">
						<i class="fa fa-briefcase faiconcase" aria-hidden="true"></i>
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Applications Android pour l'immobilier</h2>
					<p>Société Techis4Help, Paris </p>
					<p>Stage de 4 mois </p>	
					<p>Etablissement d’un cahier des charges pour la nouvelle application (C to C) de la société, puis développement d’un prototype.</p>

					<p>Les technologies utilisées : Android, PHP, MySQL </p>
					<span class="cd-timeline__date">Fév. 2016 - Juin 2016</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

			<div class="cd-timeline__block js-cd-block">
				<div class="cd-timeline__img cd-timeline__img--movie js-cd-img">
					<i class="fa fa-graduation-cap faicon" aria-hidden="true"></i>
				</div> <!-- cd-timeline__img -->

				<div class="cd-timeline__content js-cd-content">
					<h2>Master Physique et applications</h2>
					<p>UPMC, Paris 6</p>
					<span class="cd-timeline__date">2015</span>
				</div> <!-- cd-timeline__content -->
			</div> <!-- cd-timeline__block -->

		</div>
	</section> <!-- cd-timeline -->
	
<script src="../js/timeline.js"></script> <!-- Resource JavaScript -->

</body>