<div class="back">
<div class="cards" id="scrollcards">
    <mat-card class="mycard" id="articles">
            <mat-card-title class="maincardtitle">Articles</mat-card-title>
           
            <mat-card-content>
              <div style="margin: 2%;">             
                              <mat-card class="rowcard" >
                                <mat-card-title class="cardtitle">Big Data</mat-card-title>
                                <mat-card-content>
                                
                                 <div>Bien commencer avec MongoDB <a href="https://www.supinfo.com/articles/single/2149-bien-commencer-avec-mongodb"> suivre le lien</a></div>
                                 <div>MongoDB et le sharding <a href="https://www.supinfo.com/articles/single/4761-mongodb-sharding"> suivre le lien</a></div>
                                 <div>Les bases NoSQL <a href="https://www.supinfo.com/articles/single/4992-bases-nosql"> suivre le lien</a></div>
                                 
                                </mat-card-content>  
                              </mat-card>

                                            
                              <mat-card class="rowcard" >
                                  <mat-card-title class="cardtitle">Sécurité</mat-card-title>
                                  <mat-card-content>
                                    <div> Cryptographie quantique <a href="https://www.supinfo.com/articles/single/1807-cryptographie-quantique" > suivre le lien</a></div>
                                  </mat-card-content>  
                              </mat-card>

                                              
                              <mat-card class="rowcard" >
                                  <mat-card-title class="cardtitle">Android</mat-card-title>
                                  <mat-card-content>
                                    <div> Gallery Photo sous Android <a href="https://www.supinfo.com/articles/single/1994-gallery-photo-android" > suivre le lien</a></div>
                                    <div> Android et SQLite <a href="https://www.supinfo.com/articles/single/4111-android-sqlite" > suivre le lien</a></div>
                                    <div> API Google Map pour Android <a href="https://www.supinfo.com/articles/single/4176-api-google-map-android" > suivre le lien</a></div>
                                  </mat-card-content>  
                              </mat-card>                       
              </div>


            </mat-card-content>
    </mat-card>

    <mat-card class="mycard" id="projets" > 
        <mat-card-title class="maincardtitle">Projets</mat-card-title>
        <mat-card-content >

            <mat-card class="rowcard" >
                <mat-card-title class="cardtitle">Android</mat-card-title>
                <mat-card-content>
                  <div> Authentifiaction <a href="https://github.com/claudia216308/Android/tree/master/Authentification" > suivre le lien</a></div>
                  <div> GalleryPhoto <a href="https://github.com/claudia216308/Android/tree/master/GalleryPhoto" > suivre le lien</a></div>
                  <div> Stockage des favoris utilisateurs avec SQLite <a href="https://github.com/claudia216308/Android/tree/master/SQLiteFavoris" > suivre le lien</a></div>
                </mat-card-content>  
            </mat-card> 

            <mat-card class="rowcard" >
                <mat-card-title class="cardtitle">Angular</mat-card-title>
                <mat-card-content>
                  <div> Voir le code source de cette application <a href="https://github.com/claudia216308/Android/tree/master/Authentification" > suivre le lien</a></div>
                </mat-card-content>  
            </mat-card> 

            <mat-card class="rowcard" >
                <mat-card-title class="cardtitle">Application web Java EE</mat-card-title>
                <mat-card-content>
                  <div> Programme s’adressant aux cyclistes qui leur permet de s’inscrire, d’enregistrer leurs parcours et de les partager sur Facebook.</div>
                  
                  <div style="margin-top: 10px;color: rgb(98, 98, 98);font-weight: 700">
                      Développement d’une API REST et d’une application cliente, base de données MySQL, Hibernate, JSF, Google API, Facebook API</div>
                </mat-card-content>  
            </mat-card> 

        </mat-card-content>


    </mat-card>

</div>
</div>
