<div class="back">
    <!--Presentation -->
    <div class="avatar">
        <img src="assets/img/avatar.png">
    </div>

    <div class="title">
        <h1> CLAUDIA BROUCHE</h1>
        <h1> Développeuse </h1>
    </div>

    <a (click)=scroll()>
        <div class="scrollbutton"><i class="fa fa-angle-double-down arrowicon" aria-hidden="true"></i></div>
    </a>

    <!-- Cards -->
    <div class="cards" #scrollcards>
        <mat-card class="mycard">
            <i class="fa fa-user-circle-o icone" aria-hidden="true"></i>
            <mat-card-content>Pour connaitre mon parcours c'est par ici </mat-card-content>

            <mat-card-actions style="text-align: center">
                <button mat-button class="buttonToggle" (click)="redirect()">Mon parcours </button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mycard">
            <img class="imagecard" mat-card-image src="assets/img/job.png" alt="serch job">
            <mat-card-content style="text-align: center;">Je cherche un job</mat-card-content>

            <mat-card-actions style="text-align: center; margin-top: 30px;">
                <button mat-button class="buttonToggle">Maintenant</button>
                <button mat-button style="color:darkgray">Pas tout de suite</button>
            </mat-card-actions>
        </mat-card>

        <mat-card class="mycard">
            <img class="imagecard" mat-card-image src="assets/img/angular-icon.png" alt="application angular">
            <mat-card-content>
                <p>Ce site est une application Angular ! </p>
                <p>Ouvrez cette page sur votre mobile et téléchargez là ;) </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>