.mat-sidenav-container {
    background: rgba(0, 0, 0, 0.08);
  }
  
  .blank-grow {
    flex: 1 1 auto;
  }

  .mynav{
    background-color: rgb(11, 113, 239) !important;
    padding: .3rem 1rem;
  }

  .mynavlink{
    color: white !important;
  }

  /*  clique sur un bouton + page active  */
  .navbar-nav li a:hover,
  .navbar-nav li a:focus, 
  .navbar-nav li.active a {
    background-color:  rgba(85, 139, 238,1)  !important;
  }

  
  /* couleur icone hamburger*/
   .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }