<mgl-timeline [toggle]="false" style="margin: 5%;">
	<mgl-timeline-entry *ngFor="let entry of entries;" style="cursor: pointer;">
		<mgl-timeline-entry-header> {{entry.title}} </mgl-timeline-entry-header>
		<mgl-timeline-entry-content>
			<p>{{entry.society }}</p>
			<p> {{entry.time}} </p>
			<p> {{entry.descriptionPoste}}</p>
			<p>
				Les technologies utilisées :
				{{entry.listeTechnos}}
			</p>
		</mgl-timeline-entry-content>

		<mgl-timeline-entry-dot size="50" style="background-color: rgb(151, 185, 226)">
		</mgl-timeline-entry-dot>
		<mgl-timeline-entry-side>{{entry.dateBegin}} - {{entry.dateEnd}}</mgl-timeline-entry-side>
	</mgl-timeline-entry>
</mgl-timeline>